{% extends 'base_nav.html' %}

{% block title %}Departments available in our institute{% endblock %}

{% block content %}
    <h1 class='h1'>Departments available in our institue we provide</h1>

    {% if departments %}
      <ol>
       {% for department in departments %}
        <li><a href='{% url 'department_details' department.id %}'>{{ department.name }}</a></li>
       {% endfor %}
      </ol>
    {% endif %}
    <a href={% url 'login'%}><Button class = 'button'>Resgister Employee</Button></a>
{% endblock %}